/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body {
    display: block;
    height: 100vh;
    margin: 0 auto;
}

button {
    font-size: 25px !important;
    border-radius: 0px !important;
    border: 1px solid rgb(105, 101, 101) !important;
}